<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhuomo.seckill_demo.mapper.SeckillGoodsMapper">

    <resultMap id="BaseResultMap" type="com.zhuomo.seckill_demo.pojo.Goods">
        <id column="id" property="id" />
        <result column="goods_name" property="goodsName" />
        <result column="goods_title" property="goodsTitle" />
        <result column="goods_img" property="goodsImg" />
        <result column="goods_detail" property="goodsDetail" />
        <result column="goods_price" property="goodsPrice" />
        <result column="goods_stock" property="goodsStock" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, goods_name, goods_title, goods_img, goods_detail, goods_price, goods_stock
    </sql>
    <select id="findGoodsVo" resultType="com.zhuomo.seckill_demo.vo.GoodsVo">
SELECT t_goods.id,t_goods.goods_name,t_goods.goods_title,t_goods.goods_img,t_goods.goods_detail,t_goods.goods_price,t_goods.goods_stock,t_seckill_goods.seckill_price,t_seckill_goods.stock_count,t_seckill_goods.start_date,t_seckill_goods.end_date FROM t_goods LEFT JOIN t_seckill_goods ON t_goods.id = t_seckill_goods.goods_id

    </select>

</mapper>
